body {
  text-align: center;
  background-color: rgb(150, 150, 150);
  font-family: Times New Roman;
}

p {

}

.nbProd {
  width: 25%;
}

div {
  background-color: rgb(100, 100, 100);
  border-radius: 20px;
}
